.container {
  position: relative;
  width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.settings {
  position: absolute;
  top: 1rem;
  right: 2rem;
  background-color: #f1f1f1;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: black;
  height: 5rem;
  text-align: center;
}

.projectRow {
  display: flex;
  flex-direction: row;
}
