.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.left {
  width: 50%;
  position: relative;
}

.image {
  position: relative;
  width: 50%;
  height: 100vh;
}

.auth {
  height: 100vh;
  padding-top: 20%;
  padding-right: 15%;
  padding-left: 15%;
}
